[package]
name = "pipe-listener"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
tokio = { workspace = true }
timesimulation = { path = "../timesimulation" }
